
safetensors
transformers
ftfy
spacy
boto3
sagemaker
nvgpu
s3fs==2023.3.0
k_diffusion
omegaconf
imwatermark
sentencepiece

mediapipe
xformers
accelerate
git+https://github.com/huggingface/diffusers
controlnet-aux
